HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
.env
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Testing Files ###
pom-test.xml
cloud_sql_proxy
.envprod
mysql_deployment.yaml
credentials.json
application-dev.properties
application-prod.properties